.sxs-intro h1 {
  max-width: 520px;
}

.sxs-visuals-intro
{
  padding: var(--space-xxl);
}

.sxs-visuals-intro :nth-child(2 of .h1) 
{ 
  color: var(--color-grey); 
  margin-bottom: var(--space-l);
}

@media (max-width: 959px) {
  .sxs-visuals-intro .sxs-block-2 { padding: var(--space-l); }
}

.sxs-blocks.sxs-full 
{
  --media-ratio: 1.5;
  column-gap: 0;
  row-gap: 0;
  width: 100%;
}

.sxs-full .media img {
  border-radius: 0;
}

.boxed-sxs .sxs-blocks
{
  padding: var(--space-xl);
  border-radius: var(--radius-l);
  background-color: var(--color-orange-subtle);
  column-gap: var(--space-xxl);
  row-gap: var(--space-xxl);
}

.boxed-sxs .boxed-sxs-block
{
  display: flex;
  flex-direction: column;
  row-gap: var(--space-l);
  max-width: unset;
}