/* .menu ^START^ */

.menu-shell
{
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: var(--space-l);
  pointer-events: none;
}

.menu 
{
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-m);
  padding: var(--space-l);
  background-color: var(--color-black);
  opacity: 0;
  transform: translate(-4%, 8%) rotate(3deg);
  transition: opacity var(--transition), transform var(--transition);
}

.menu .btn-menu 
{
  margin-bottom: var(--space-l);
  width: 100%;
}

.menu-container 
{
  position: relative;
}

.menu-container:hover .menu, .menu-shell:hover .menu, .menu:hover 
{
  transform: translate(0%, 0%) rotate(0deg);
  opacity: 1;
}

.menu-container:hover .menu-shell , .menu-shell:hover { pointer-events: all; }

/* Animation */

/* .menu ^STOP^ */

/* .menu-mobile ^START^ */

.menu-mobile
{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* transform: translateY(-101%); */
  background-color: var(--color-white);
}

.menu-mobile .menu-links 
{
  padding: var(--space-xl);
}

.menu-mobile .menu-links a 
{
  display: block; 
  text-transform: uppercase; 
  font: var(--title-light);
  letter-spacing: var(--letter-spacing-wide);
}

.menu-mobile .menu-links a { margin-bottom: var(--space-xl); }

.menu-mobile-footer { background-color: var(--color-black); }

.menu-mobile-footer .links { padding: var(--space-xl); }

.menu-mobile-footer .icon-x { color: var(--color-orange); }

.menu-mobile-footer .btn-menu { margin-bottom: var(--space-xl); }

.menu-mobile-icon { padding: 0 var(--space-xl) var(--space-xl); }

/* Animation */

.open-menu .menu-mobile {
  pointer-events: all;
  transform: translateY(0%);
  transition: transform 0.5s cubic-bezier(.27,.83,.46,.95);
}

/* .menu-mobile ^STOP^ */

/* #top-navigation ^START^ */

#top-navigation
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#top-navigation .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

#icon-brand 
{
  width: 120px;
  height: auto;
}


@media (max-width: 767px) {
  #icon-brand 
  {
    width: 80px;
    height: auto;
  }
}

/* .navigation-group ^START^ */

.navigation-group
{
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: var(--space-l);
  align-items: center;
  position: relative;
}

.navigation-item-1, .navigation-item-2, .navigation-item-3 
{
  position: relative;
  z-index: 3;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 4px 15px;
  font: var(--body-ultra-light);
  letter-spacing: var(--letter-spacing-wide);
  border-radius: 99px;
  transition: color var(--transition);
}

.navigation-item-1 span, .navigation-item-2 span, .navigation-item-3 span { 
  pointer-events: none; 
  display: block;
}

.navigation-item-active {
  color: var(--color-white);
  background-color: var(--color-black);
}

[data-active-item="1"] .navigation-item-1, 
[data-active-item="2"] .navigation-item-2,
[data-active-item="3"] .navigation-item-3
{
  color: var(--color-white);
}

.navigation-bg-1, .navigation-bg-2, .navigation-bg-3 
{
  position: relative;
  z-index: 1;
  border-radius: 99px;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-subtle);
  pointer-events: none;
}

.navigation-item-1, .navigation-bg-1 { grid-area: 1 / 1 / 2 / 2; }
.navigation-item-2, .navigation-bg-2 { grid-area: 1 / 2 / 2 / 3; }
.navigation-item-3, .navigation-bg-3 { grid-area: 1 / 3 / 2 / 4; }

.puck
{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  border-radius: 100px;
  opacity: 1;
  background-color: var(--color-black);
  transition: transform var(--transition);
} 

.navigation-group-active .puck 
{ 
  transition: opacity var(--transition), transform var(--transition); 
}

/* .navigation-group ^STOP^ */

/* #top-navigation ^STOP^ */