/* .hero-animation ^START^ */
.hero-animation
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-1, .animation-2, .animation-3, animation-4, .animation-5, .animation-6, .animation-flip
{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .hero-animation ^STOP^ */

/* .animation-1 ^START^ */

.animation-1 
{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animation-1-frames 10s linear infinite;
  background-image: none;
}

.animation-1 svg {
  width: 60%;
  height: auto;
  display: block;
}

@keyframes animation-1-frames {
 0%, 6.24%
 {
  opacity: 1;
  color: var(--color-black);
  background-color: var(--color-orange);
  background-image: none;
}

6.25%, 12.49%
{
  opacity: 1;
  color: var(--color-peach);
  background-color: var(--color-subtle);
  background-image: none;
}

12.50%, 18.74%
{
  opacity: 1;
  color: var(--color-white);
  background-color: transparent;
  background-image: radial-gradient(farthest-corner at 90% 140%, #872900 0%, #FFCEB9 100%);
 }

 18.75%, 24.9%
 {
  opacity: 1;
  color: var(--color-orange);
  background-color: var(--color-black);
  background-image: none;
 }

 25%
 {
  opacity: 1;
  color: var(--color-black);
  background-color: var(--color-orange);
  background-image: none;
 }

 25.01%, 100% {
  opacity: 0;
 }
}

/* .animation-1 ^STOP^ */

/* .animation-2 ^START^ */

.animation-2 {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/media/liquid-80s.jpg");
  animation: animation-2 10s linear infinite;
}

.animation-2 .frame-group { 
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  animation: animation-2-frames 10s linear infinite; 
}

.animation-2 .frame
{
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.animation-2 svg {
  flex: 0 0 auto;
  width: 100%;
  color: var(--color-white);
  height: auto;
  margin: -1px 0;
}

.animation-2 .frame-background {
  flex: 1 1 100%;
  width: 100%;
  background-color: var(--color-white);
}

@keyframes animation-2 {
  25%, 37.5% {
    opacity: 1;
  }
  
  0%, 24.99%, 37.51% {
    opacity: 0;
  }
}

@keyframes animation-2-frames {
  0%, 25%, 37.51% { transform: translateX(0%); }
  
  37.5% { transform: translateX(-200%); }
}


/* .animation-2 ^STOP^ */

/* .animation-3 ^START^ */

.animation-3 
{
  opacity: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  animation: animation-3 10s linear infinite;
}

.animation-3 .frame-group
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  animation: animation-3-frames 10s linear infinite;
}

.animation-3 .frame
{
  flex: 0 0 100%;
  width: 100%;
}

.animation-3 .frame svg {
  width: 100%;
  height: 100%;
  color: var(--color-orange);
}

.animation-3 #brand-z {
  position: relative;
  width: 10%;
  height: auto;
  color: var(--color-white);
}

@keyframes animation-3 {
  0%, 37.49%, 50.01%, 100% { opacity: 0; }
  
  37.5%, 50% { opacity: 1; }
}

@keyframes animation-3-frames {
  0%, 37.5%, 50.01%, 100% { transform: translateY(-50%); }
  
  50% { transform: translateY(-200%); }
}

/* .animation-3 ^STOP^ */

/* .animation-4 ^START^ */

/* .animation-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animation-4 10s linear infinite;
}

.animation-4 svg {
  width: 75%;
  height: auto;
}

.animation-4 svg rect {
  animation: animation-4-frames 10s linear infinite;
}

@keyframes animation-4 {
  0%, 74.99% { opacity: 0; }
  
  75%, 100% { opacity: 1; }
}

@keyframes animation-4-frames {
  0%, 74.99% { height: 50%; }
  
  75%, 100% { height: 100%; }
} */

/* .animation-4 ^STOP^ */

/* .animation-5 ^START^ */

.animation-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  animation: animation-5 10s linear infinite;
}

.animation-5 svg {
  display: block;
  position: relative;
  width: 35%;
  height: auto;
}

.animation-5 .frame-background {
  background-color: var(--color-orange);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.6);
  animation: animation-5-bg 10s linear infinite;
}

@keyframes animation-5 {
  0%, 49.99%, 60.01%, 100% { 
    opacity: 0; 
    color: var(--color-white);
  }
  
  50%, 52.5% { 
    opacity: 1;
    color: var(--color-white);
   }

  52.51%, 55% { 
    opacity: 1; 
    color: var(--color-orange);
  }


  55.01%, 57.5% { 
    opacity: 1; 
    color: var(--color-orange-subtle);
  }

  57.51%, 60% 
  { 
    opacity: 1; 
    background-color: rgb(51, 15, 0); 
  }
}

@keyframes animation-5-bg {
  0%, 49.99%, 60.01%, 100% 
  {
    background-color: var(--color-black); 
    transform: scale(0.6); 
  }
  
  52.5% 
  { 
    transform: scale(1); 
    color: var(--color-orange);
  }

  52.51%, 55% 
  { 
    transform: scale(1); 
    background-color: rgb(255, 213, 171); 
  }

  55.01%, 57.5% { 
    transform: scale(1); 
    background-color: rgb(169, 48, 0); 
  }

  57.51%, 60% 
  { 
    transform: scale(1); 
    background-color: var(--color-orange); 
  }
}

/* .animation-5 ^STOP^ */

/* .animation-6 ^START^ */

.animation-6 { 
  background-color: #fffaf8;
  animation: animation-6 20s linear infinite; 
}

.animation-6 svg {
  width: 100%;
  height: 100%;
}

.frame-mobile { display: none; }

@media (max-width: 767px) {
  .frame-mobile { display: block; }
  .frame-desktop { display: none; }
}

.animation-6 svg #col-1 { animation: animation-6-col-1 4s linear infinite; }
.animation-6 svg #col-2 { animation: animation-6-col-2 4s linear infinite; }
.animation-6 svg #col-3 { animation: animation-6-col-3 4s linear infinite; }
.animation-6 svg #col-4 { animation: animation-6-col-4 4s linear infinite; }
.animation-6 svg #col-5 { animation: animation-6-col-5 4s linear infinite; }
.animation-6 svg #col-6 { animation: animation-6-col-6 4s linear infinite; }

@keyframes animation-6 {
  60%
  { 
    transform: scale(2);
    opacity: 1; 
  }
  
  70% 
  { 
    transform: scale(1);
    opacity: 1; 
  }

  80% 
  { 
    transform: scale(1);
    opacity: 1; 
  }

  0%, 59.99%, 80.01%, 100% { 
    transform: scale(2);
    opacity: 0; 
  } 
}

@keyframes animation-6-col-1 {
  from { transform: translateY(0); }
  to { transform: translateY(10%); }
}
@keyframes animation-6-col-2 {
  from { transform: translateY(0); }
  to { transform: translateY(-19%); }
}
@keyframes animation-6-col-3 {
  from { transform: translateY(0); }
  to { transform: translateY(5%); }
}
@keyframes animation-6-col-4 {
  from { transform: translateY(0); }
  to { transform: translateY(-12%); }
}
@keyframes animation-6-col-5 {
  from { transform: translateY(0); }
  to { transform: translateY(23%); }
}
@keyframes animation-6-col-6 {
  from { transform: translateY(0); }
  to { transform: translateY(-15%); }
}

/* .animation-6 ^STOP^ */

/* .animation-flip ^START^ */

.animation-flip
{
  animation: animation-flip 20s linear infinite; 
}

.animation-flip .frame-1, .animation-flip .frame-2,  
.animation-flip .frame-3, .animation-flip .frame-4
{
  position: absolute;
  border-radius: var(--radius-l);
  overflow: hidden;
  opacity: 0;
}  

.animation-flip .frame-1 
{
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  animation: animation-flip-1 4s linear infinite;
}

.animation-flip .frame-2
{
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  animation: animation-flip-2 4s linear infinite;
}

.animation-flip .frame-3
{
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  animation: animation-flip-3 4s linear infinite;
}

.animation-flip .frame-4
{
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  animation: animation-flip-4 4s linear infinite;
}

@keyframes animation-flip {
  0%, 79.99% { opacity: 0; }

  80%, 100% { 
    opacity: 1; 
  } 
}

@keyframes animation-flip-1 {
  19.99% { opacity: 0; }
  20%, 100% { opacity: 1; }
}

@keyframes animation-flip-2 {
  0%, 39.99% { opacity: 0; }
  40%, 100% { opacity: 1; }
}

@keyframes animation-flip-3 {
  0%, 59.99% { opacity: 0; }
  60%, 100% { opacity: 1; }
}

@keyframes animation-flip-4 {
  0%, 79.99% { opacity: 0; }
  80%, 100% { opacity: 1; }
}

/* .animation-flip ^STOP^ */