/* Basis ^START^ */

body 
{
  font-family: Geist, sans-serif;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

*,
*:before,
*:after 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main 
{
  position: relative;
  background-color: var(--color-white);
}

ul
{
  list-style: none;
}

a 
{
  color: inherit;
  text-decoration: none;
}

.hidden { display: none; }

.icon { 
  vertical-align: middle;
  width: 20px;
  height: 20px; 
  transform-origin: center center;
}

.icon-x 
{ 
  width: 100%;
  height: auto;
}

.page-width 
{
  max-width: 1224px;
  padding-right: var(--space-l);
  padding-left: var(--space-l);
}

@media (max-width: 959px) {
  .page-width 
  {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
  }
}

.media, .media-fill
{
  width: 100%;
  display: block;
  position: relative;
}

.media-fill { height: 100%; }

.media::before, .media-fill::before 
{
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.media img, .media-fill img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--radius-xl);
}

.media::before { padding-top: calc(100% / var(--media-ratio, 1)); }

.media-fill::before { height: 100%; }

@media (max-width: 959px) 
{
  .media::before { padding-top: calc(100% / var(--media-ratio-phone, 1)); }
}

/* Basis ^STOP^ */

/* Typo ^START^ */

.h1 {
  font: var(--h1);
  letter-spacing: -0.03;
  text-transform: uppercase;
}

.h3-intense {
  font: var(--h3-intense);
  letter-spacing: -0.03;
  text-transform: uppercase;
}

.h3-subtle {
  font: var(--h3-subtle);
  letter-spacing: -0.03;
}

.h1, .h3-intense, .h3-subtle { line-height: 1.2; }

.link { 
  cursor: pointer;
  text-decoration: underline; 
}

/* Typo ^STOP^ */

/* .brand ^START^ */

.brand, 
.brand-small,
.brand-full 
{
  display: block;
  height: auto;
}

.brand { width: 120px; }

.brand-small { width: 80px; }

.brand-full { width: 100%; }

/* .brand ^STOP^ */

/* .btn-primary ^START^ */

.btn-primary 
{
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-s);
  overflow: hidden;
  padding: 6px 12px 6px 6px;
  margin-top: var(--space-m);

  cursor: pointer;
  font: var(--body-bold);
  letter-spacing: -0.03em; 
}

.btn-primary .icon::before 
{
  content: "";
  position: absolute;
  
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-s);
  
  transition: transform var(--transition);
  transform-origin: center center;
  background-color: var(--color-orange);
}

.btn-primary .icon
{
  transition: transform var(--transition);
  position: relative;
  margin-bottom: 1px;
  margin-right: var(--space-s);
  width: 20px;
  height: 20px;
}

.btn-primary .icon svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.btn-primary:hover .icon::before,
.btn-primary:active .icon::before
{
  transform: scale(calc(var(--bg-scale, 20) + 3));
}

.btn-primary:hover .icon,
.btn-primary:active .icon
{
  transform: rotate(90deg);
}

.btn-primary .label {
  position: relative;
  z-index: 1;
}

/* .btn-primary ^STOP^ */

/* .btn-secondary ^START^ */

.btn-secondary,
.btn-secondary-alt
{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-s);
  padding: 6px 12px 6px 8px;
  border: 1px solid transparent;
  font: var(--body-light-mono);
  letter-spacing: var(--letter-spacing-wide);
  transition: border 0.5s linear, background-color var(--transition), color var(--transition);
}

.btn-secondary { padding: 6px 12px 6px 8px; }

.btn-secondary-alt 
{
  padding: 6px 8px 6px 12px;
  border: 1px solid var(--color-black);
}

.btn-secondary:hover { border: 1px solid currentColor; }

.btn-secondary:hover .icon 
{
  transition: transform var(--transition);
  transform: rotate(90deg);
} 

.btn-secondary-alt:hover 
{ 
  color: var(--color-white);
  background-color: var(--color-black);
} 

.btn-secondary :nth-child(2):not(:only-child), .btn-secondary-alt :nth-child(2):not(:only-child) { margin-left: var(--space-s); }

.btn-secondary-group {
  margin-top: var(--space-l);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}

/* .btn-secondary ^STOP^ */

/* .btn-menu ^START^ */

.btn-menu
{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-m);
  padding: 4px 10px;
  color: var(--color-white);
  font: var(--title-bold);
  letter-spacing: var(--letter-spacing-narrow);
  width: 100%;
  text-transform: uppercase;
}

.btn-menu:hover, .btn-menu:active 
{
  color: var(--color-black);
  background-color: var(--color-white);
  transition: background-color var(--transition), color var(--transition);;
}

.btn-menu .icon 
{
  transform: translateX(-100%);
  opacity: 0;
  margin-left: var(--space-l);
}

.btn-menu:hover .icon {
  animation: icon-fade-in var(--transition) forwards;
}

@keyframes icon-fade-in {
  from {
    transform: translateX(-5px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* .btn-menu ^STOP^ */

/* .infi ^START^ */

.infi, .infi-large, .infi-large-subtle
{
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.infi 
{ 
  color: var(--color-white); 
  padding: var(--space-m) 0;
}

.infi-large, .infi-large-subtle { color: var(--color-black); }

.infi-large { padding: var(--space-l) 0 var(--space-section); }

.infi-large-subtle { padding-top: var(--space-section); }

.infi-large .infi-text, .infi-large-subtle .infi-text { font-size: 72px; }

.infi-large .infi-text 
{
  font-family: Geist, sans-serif;
  letter-spacing: var(--letter-spacing-narrow);
  font-weight: 900;
}

.infi-large-subtle .infi-text 
{
  font-family: "Geist Mono", sans-serif;
  letter-spacing: var(--letter-spacing-wide);
}

.infi-text-block
{
  flex: 0 0 auto;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infi .infi-text-block { animation: infi 10s linear infinite; }

.infi-large .infi-text-block { animation: infi-reverse 40s linear infinite; }
.infi-large-subtle .infi-text-block { animation: infi 40s linear infinite; }

.infi-icon 
{
  height: 40px;
  width: auto;
}

.infi-text, .infi-icon { flex: 0 0 auto; }

.infi-text:not(:last-child), .infi-icon:not(:last-child)
{
  padding-right: var(--space-xl)
}

@keyframes infi {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes infi-reverse {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

/* .infi ^STOP^ */

/* .pair ^START^ */

.pair
{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pair:not(:last-child)::before 
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--color-black-subtle);
  transform: translateY(50%);
}

.pair-key { display: flex; }

.pair .icon { margin-left: var(--space-s); }

/* .pair ^STOP^ */

/* .li ^START^ */

.li 
{
  position: relative;
  padding-left: 28px;
  font: var(--body-ultra-light);
}

.li-icon 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

:nth-child(3n+1 of .li-icon) .icon { transform: rotate(22deg); }

:nth-child(3n+2 of .li-icon) .icon { transform: rotate(75deg); }

:nth-child(3n+3 of .li-icon) .icon { transform: rotate(145deg); }

/* .li ^STOP^ */

/* .headed-list ^START^ */

.headed-list
{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.headed-list ul 
{
  list-style-type: none;
}

.headed-list-title
{
  font: var(--body-ultra-light);
  letter-spacing: var(--letter-spacing-wide);
  margin-bottom: var(--space-m);
} 

.headed-list-item 
{
  font: var(--body-regular);
  letter-spacing: var(--letter-spacing-narrow);
}

.headed-list-item:not(:last-child) { margin-bottom: var(--space-m); }

/* .headed-list ^STOP^ */

/* .usp ^START^ */

.usp-group
{
  padding: var(--space-xl) 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--space-xxl);
  row-gap: var(--space-xl);
  align-items: start;
}

.usp-divider
{
  grid-column: auto /  span 2;
  height: 1px;
  width: 100%;
  background-color: var(--color-black);
}

.usp-heading
{
  display: flex;
  align-items: center;
}

.usp-count  
{
  width: 30px;
  height: 30px;
  border-radius: var(--radius-s);
  background-color: var(--color-black);
  color: var(--color-white);
  font: var(--body-regular);
  font-family: "Geist Mono", sans-serif;
  margin-right: var(--space-m);
  display: flex;
  justify-content: center;
  align-items: center;
}

.usp-title
{
  font: var(--h4);
  letter-spacing: var(--letter-spacing-narrow);
  text-transform: uppercase;
}

.usp-description 
{
  width: 100%; 
  font: var(--body-light); 
}

@media (max-width: 959px) {
  .usp-group { 
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--space-l); 
  }

  .usp-divider, .usp-heading, .usp-description { grid-column: auto / span 2; }
}

/* .usp ^STOP^ */