:root {
  --radius-s: 4px;
  --radius-m: 12px;
  --radius-l: 40px;
  --radius-xl: 60px;

  --media-ratio: 1;
  --media-ratio-phone: 1.5;

  --letter-spacing-wide: 0.04em;
  --letter-spacing-narrow: -0.03em;

  --h1: 700 56px/67px Geist;
  --h3-intense: 700 32px/44px Geist;
  --h3-subtle: 300 32px/44px Geist;
  --h3-faint: 200 32px/44px Geist;
  --h4: 700 24px/32px Geist;
  
  --title-bold: 700 40px/48px Geist;
  --title-light: 200 40px/48px "Geist Mono";

  --body-ultra-light: 200 16px/24px "Geist Mono";
  --body-light: 300 16px/24px Geist;
  --body-light-mono: 300 16px/24px "Geist Mono";
  --body-regular: 400 16px/24px Geist;
  --body-bold: 700 16px/24px Geist;
  
  --label-regular: 200 14px/22px Geist;
  --label-ultra-light: 200 14px/22px "Geist Mono";

  --color-orange: #FF4D00;
  --color-orange-subtle: #FFF5F0;
  --color-peach: #FFC4A3;
  --color-black: #131212;
  --color-black-subtle: rgb(18, 17, 17, 0.15);
  --color-grey: #B9B9B9;
  --color-white: #FFFFFF;

  --transition: 0.3s ease-in-out;

  --space-s: 4px;
  --space-m: 12px;
  --space-l: 24px;
  --space-xl: 40px;
  --space-xxl: 80px;
  --space-section: 48px;

}

@media (max-width: 959px) {
  :root {
    --h1: 700 50px/60px Geist;
  }  
}